@import url('../../../public/Poppins.ttf');

@font-face {
    font-family: 'Poppins';
    src: url('../../../public/Poppins.ttf');
}

html {
    scroll-behavior: smooth;
} * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI';
}

:root {
    --background-color-light: #ffffff;
    --color-bg-light: #000000;

    --background-color-dark: linear-gradient(#001330, #004AAD);
    --color-bg-dark: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--color);
}

body.modo-claro {
    --background-color: var(--background-color-light);
    --color: var(--color-bg-light);
}

body.modo-escuro {
    --background-color: var(--background-color-dark);
    --color: var(--color-bg-dark);
}