/* IMPORTS */

@import url('../../../public/Poppins.ttf');

@font-face {
    font-family: 'Poppins';
    src: url('../../../public/Poppins.ttf');
}

/* GLOBALS */

html, body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
} .container {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI';
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --background-color-light: #D18009;
    --background-color-dark: #724D0D;

    --button-bg-light: #256FF8;
    --button-bg-dark: #1E3A8A;
}

/* ELEMENTOS */

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

input, input {
    outline: none;
}

/* MODO PRETO & BODY */

body {
    width: 100%;
    height: 100%;
    background: var(--background-color);
    color: var(--color);
}

    button {
        background-color: var(--button-bg-color);
        cursor: pointer;
        color: white;
        border: none;
    }

/* MODO CLARO & ESCURO */

body.modo-claro {
    --background-color: var(--background-color-light);
    --color: var(--color-bg-light);
}

body.modo-escuro {
    --background-color: var(--background-color-dark);
    --color: var(--color-bg-dark);
}

/* B O T Õ E S */

.botaoEntrar {
    background: none;
    box-shadow: 0 2px 0px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.shadowEntrar {
    padding-bottom: 10px;
    background-color: #995d02;
    border-radius: 10px;
}

.divTextEntrar {
    background-color: #e08700;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid #B86F03;
    color: rgba(0, 0, 0, 0.5);
}

.botaoEntrar:active .shadowEntrar {
    padding: 0;
}