.titulo-e-kaicoins {
    display: flex;
    justify-content: center;
    padding: 50px;
} 

.cards-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
} .remessa-1 {
    display: flex;
    gap: 25px;
} .remessa-2 {
    display: flex;
    gap: 25px;
}

.ponto, .pondeto, .ponteto {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    background-color: rgba(0, 108, 196, 0.05);
    border: none;
    width: 200px;
    height: 200px;
}

.atras {
    background-color: rgba(0, 108, 196, 0.1);
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kaikinho-container {
    width: 100px;
    height: 70%;
}