/* I M P O R T S */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins.ttf') format('truetype');
}

/* G L O B A L S */

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    background: linear-gradient(to bottom, #0F172A, #273447, #0F172A);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/* E L E M E N T S */

#ponto-image {
    opacity: 0;
    transform: scale(1.1);
    animation: fadeInScale 1s ease forwards;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

a {
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}