/* I M P O R T S */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url('../assets/fonts/Outfit.ttf') format('truetype');
    font-family: 'Outfit';
}

/* G L O B A L S */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', system-ui;
    color: white;
}

body {
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
    padding-top: 40px;
} #bodyGame {
    background: #0F172A;
    background-image: radial-gradient(circle at 20% 30%, rgba(56, 189, 248, 0.1) 0%, transparent 30%), radial-gradient(circle at 80% 70%, rgba(99, 102, 241, 0.1) 0%, transparent 30%);
}

::-webkit-scrollbar {
    display: none;
}

/* E L E M E N T S */

#ponto-image {
    opacity: 0;
    transform: scale(1.1);
    animation: fadeInScale 1s ease forwards;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

a {
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

@media (max-height: 700px) {
    #optionsHome {
        gap: 4px;
    } #line-one {
        gap: 6px;
    } #line-two {
        gap: 6px;
    } .game-button {
        transform: scale(0.9);
    } #ponto-image {
        width: 250px;
    }
}