/* E L E M E N T S */

#ponto-image {
    opacity: 0;
    transform: scale(1.1);
    animation: fadeInScale 1s ease forwards;
}

a {
    text-decoration: none;
}

input {
    outline: none;
    border: none;
}

/* --- A N I M A T I O N S --- */

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-height: 700px) {
    #optionsHome {
        gap: 4px;
    } #line-one {
        gap: 6px;
    } #line-two {
        gap: 6px;
    } .game-button {
        transform: scale(0.9);
    } #ponto-image {
        width: 250px;
    }
}